Extratcing HTML code of any website
Program flow
   1.import libraries
   2.save the url
   3.Using requests.get(),access the web page
   4.Using BeautifulSoup(),access the HTML code

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
import requests as r

In [ ]:
ecap="https://sves.org.in/ecap/"

In [ ]:
 page=r.get(ecap)

In [ ]:
code=BeautifulSoup(page.text,'html')
print(code)

In [ ]:
title=code.find('title')
title

<title>
	College Automation Package
</title>

In [ ]:
print(title.text)

	College Automation Package

In [ ]:
 rich="https://www.forbesindia.com/article/explainers/top-10-richest-people-india/85909/1"

In [ ]:
 page1=r.get(rich)

In [ ]:
code1=BeautifulSoup(page1.text,'html')
print(code1)

In [ ]:
table=code1.find('table')
print(table)

In [ ]:
table=code1.find_all('th')
print(table)

[<th style="border: 1px solid black; padding: 8px;"><strong>Name &amp; India Rank</strong></th>, <th style="border: 1px solid black; padding: 8px;"><strong>Global Rank</strong></th>, <th style="border: 1px solid black; padding: 8px;"><strong>Net worth (US$)</strong></th>, <th style="border: 1px solid black; padding: 8px;"><strong>Company</strong></th>]

In [ ]:
Heading=[i.text for i in table]
print(Heading)

['Name & India Rank', 'Global Rank', 'Net worth (US$)', 'Company']

In [ ]:
import pandas as pd

In [ ]:
mydf=pd.DataFrame(columns=Heading)
print(mydf)

Empty DataFrame
Columns: [Name & India Rank, Global Rank, Net worth (US$), Company]
Index: []

In [ ]:
rows=code1.find_all('tr')
print(rows)

In [ ]:
td=code1.find_all('td')
print(td)

[<td style="border: 1px solid black; padding: 8px;">#1 Mukesh Ambani <br/></td>, <td style="border: 1px solid black; padding: 8px;">10</td>, <td style="border: 1px solid black; padding: 8px;">$116.9 B</td>, <td style="border: 1px solid black; padding: 8px;">Reliance Industries</td>, <td style="border: 1px solid black; padding: 8px;">#2 Gautam Adani <br/></td>, <td style="border: 1px solid black; padding: 8px;">16<br/></td>, <td style="border: 1px solid black; padding: 8px;">$86.2 B</td>, <td style="border: 1px solid black; padding: 8px;">Adani Group</td>, <td style="border: 1px solid black; padding: 8px;">#3 Shiv Nadar <br/></td>, <td style="border: 1px solid black; padding: 8px;">37<br/></td>, <td style="border: 1px solid black; padding: 8px;">$36.8 B</td>, <td style="border: 1px solid black; padding: 8px;">HCL Technologies   <br/></td>, <td style="border: 1px solid black; padding: 8px;">#4 Savitri Jindal &amp; family <br/></td>, <td style="border: 1px solid black; padding: 8px;">58<br/></td>, <td style="border: 1px solid black; padding: 8px;">$30.9 B</td>, <td style="border: 1px solid black; padding: 8px;">JSW Group<br/></td>, <td style="border: 1px solid black; padding: 8px;">#5 Dilip Shanghvi <br/></td>, <td style="border: 1px solid black; padding: 8px;">69<br/></td>, <td style="border: 1px solid black; padding: 8px;">$25.7 B</td>, <td style="border: 1px solid black; padding: 8px;">Sun Pharmaceutical Industries Ltd</td>, <td style="border: 1px solid black; padding: 8px;">#6 Cyrus Poonawalla <br/></td>, <td style="border: 1px solid black; padding: 8px;">68<br/></td>, <td style="border: 1px solid black; padding: 8px;">$24.2 B</td>, <td style="border: 1px solid black; padding: 8px;">Serum Institute of India<br/></td>, <td style="border: 1px solid black; padding: 8px;">#7 Kushal Pal Singh<br/></td>, <td style="border: 1px solid black; padding: 8px;">98<br/></td>, <td style="border: 1px solid black; padding: 8px;">$20.6 B</td>, <td style="border: 1px solid black; padding: 8px;">DLF Limited<br/></td>, <td style="border: 1px solid black; padding: 8px;">#8 Kumar Birla <br/></td>, <td style="border: 1px solid black; padding: 8px;">97<br/></td>, <td style="border: 1px solid black; padding: 8px;">$19.5 B</td>, <td style="border: 1px solid black; padding: 8px;">Aditya Birla Group<br/></td>, <td style="border: 1px solid black; padding: 8px;">#9 Ravi Jaipuria<br/></td>, <td style="border: 1px solid black; padding: 8px;">100</td>, <td style="border: 1px solid black; padding: 8px;">$17.4 B</td>, <td style="border: 1px solid black; padding: 8px;">RJ Corp, Varun Beverages <br/></td>, <td style="border: 1px solid black; padding: 8px;">#10 Radhakishan Damani <br/></td>, <td style="border: 1px solid black; padding: 8px;">101<br/></td>, <td style="border: 1px solid black; padding: 8px;">$17.2 B</td>, <td style="border: 1px solid black; padding: 8px;">DMart, Avenue Supermarts</td>]

In [ ]:
data_act=[i.text for i in td]
print(data_act)

['#1 Mukesh Ambani ', '10', '$116.9 B', 'Reliance Industries', '#2 Gautam Adani ', '16', '$86.2 B', 'Adani Group', '#3 Shiv Nadar ', '37', '$36.8 B', 'HCL Technologies\xa0\xa0 ', '#4 Savitri Jindal & family ', '58', '$30.9 B', 'JSW Group', '#5 Dilip Shanghvi ', '69', '$25.7 B', 'Sun Pharmaceutical Industries Ltd', '#6 Cyrus Poonawalla ', '68', '$24.2 B', 'Serum Institute of India', '#7 Kushal Pal Singh', '98', '$20.6 B', 'DLF Limited', '#8 Kumar Birla ', '97', '$19.5 B', 'Aditya Birla Group', '#9 Ravi Jaipuria', '100', '$17.4 B', 'RJ Corp, Varun Beverages ', '#10 Radhakishan Damani ', '101', '$17.2 B', 'DMart, Avenue Supermarts']

In [ ]:
ind=0
st=0
stop=4
for i in data_act:
  if stop<=40:
    mydf.loc[ind]=data_act[st:stop]
    st=st+4
    stop=stop+4
    ind=ind+1
mydf

,Name & India Rank,Global Rank,Net worth (US$),Company
0,#1 Mukesh Ambani,10,$116.9 B,Reliance Industries
1,#2 Gautam Adani,16,$86.2 B,Adani Group
2,#3 Shiv Nadar,37,$36.8 B,HCL Technologies
3,#4 Savitri Jindal & family,58,$30.9 B,JSW Group
4,#5 Dilip Shanghvi,69,$25.7 B,Sun Pharmaceutical Industries Ltd
5,#6 Cyrus Poonawalla,68,$24.2 B,Serum Institute of India
6,#7 Kushal Pal Singh,98,$20.6 B,DLF Limited
7,#8 Kumar Birla,97,$19.5 B,Aditya Birla Group
8,#9 Ravi Jaipuria,100,$17.4 B,"RJ Corp, Varun Beverages"
9,#10 Radhakishan Damani,101,$17.2 B,"DMart, Avenue Supermarts"

In [ ]:
mydf.to_csv('rich.csv')#saving the file